<header id="header" class="header">
    <div class="header__topline">Simple background</div>   
    <nav class="header__nav">
    <a href="#" class="header__logo">B</a>
    <h1 class="header__heading"><a href="#">Company</a></h1>
        <ul class="header__menu">
            <li class="menu__item"><a class="menu__link" href="#home">Home</a></li>
            <li class="menu__item"><a class="menu__link" href="#about">About Us</a></li>
            <li class="menu__item"><a class="menu__link" href="#portfolio">Portfolio</a></li>
            <li class="menu__item"><a class="menu__link" href="#contacts">Contacts</a></li>
        </ul>
    <button class="burger header__burger">
       <span></span>
       <span></span>
       <span></span>
   </button>
    </nav>

   

</header>
