.section{
	max-width: 1200px;
	margin: auto;
  height: 500px;
  transition: padding $time ease;
    &__heading{
    	text-align: center;
    	font-weight: bold;
    	font-size: 30px;
    	margin-top: 20px;
    }
    &__content{
			margin-top: 25px;
    }
    &.down{
    	padding-top: 100px;
    }
}